.social-container {
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: flex;
    gap: 20px;
    z-index: -1;
}

a {
    color: black;
    transition: color 0.2s;
}

a:hover {
    color: darkred;
}
