.social-container {
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: flex;
    gap: 20px;
}

@media (max-width: 768px) {
    .social-container {
        display: none;
    }
}

a {
    color: black;
    transition: color 0.2s;
}

a:hover {
    color: darkred;
}
