.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  position: relative;
}

.message {
  font-size: 2rem;
  font-weight: bold;
}
